body {background-color:rgb(245, 240, 244);}

img{height: 300px;
    width: 400px;
margin: 100px auto;
display: block;
border: 10px solid red;
}

p{color: darkmagenta; text-align: center ;}
h1{color: darkmagenta; text-align:center;}
button{height: 50px;
width:100px; }

button{color: rgb(1, 147, 147); }